/* GLOBAL TOÀN TRANG */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

p {
  color: #636363;
}

li {
  color: #636363;
  list-style: none;
  line-height: 1.6;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1199px;
  margin: 0 auto;
}

button {
  color: white;
  font-size: 15px;
  font-weight: 400;

  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;

  border: none;
  border-radius: 30px;

  padding: 20px 35px;

  cursor: pointer;

  transition: all 0.5s;
}

button:hover {
  background-position: right center;
}

.title {
  padding-top: 110px;
}

.title h2 {
  font-size: 22px;
  font-weight: 600;
  color: #f55f8d;

  margin-bottom: 20px;
}

.title h1 {
  font-size: 70px;
  font-weight: 800;
  color: #262626;
  line-height: 1.1;

  margin-bottom: 20px;
}

/* KEYFRAMES */
@keyframes UpAndDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(100%);
    opacity: 0;
  }

  75% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes SlightlyRotate {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}

@keyframes LeftToRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
  }

  75% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* ANIMATE */
.banner .banner__content .animate__animated.animate__fadeInUp {
  --animate-duration: 2s;
}

/* HEADER */
header {
  padding: 36px 0;
  position: absolute;
  width: 100%;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content .header__right {
  display: flex;
  align-items: center;
}

.header__content .header__right ul {
  margin-right: 30px;
}

.header__content .header__right ul li {
  display: inline;

  padding: 55px 11px;
}

.header__content .header__right ul li a {
  text-decoration: none;

  color: #070120;
  font-size: 15px;
  font-weight: 500;

  transition: all 0.5s;
}

.header__content .header__right ul li:hover a {
  color: #f55f8d;
}

.header__content .header__right ul li a span {
  display: inline-block;
}

.header__content .header__right ul li:hover a span {
  animation: UpAndDown 0.3s forwards;
}

.header__content .header__right ul li a i {
  font-size: 9px;
  margin-top: -3px;

  vertical-align: middle;
}

/* BANNER */
.banner {
  background-image: url(../img/pic2.png);
  background-position: top;
  background-size: 100%;

  padding-top: 110px;

  overflow: hidden;
}

.banner__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.banner .banner__content__left {
  width: 60%;
}

.banner .banner__content__left .banner__slogan {
  font-size: 18px;
  margin-bottom: 15px;
}

.banner .banner__content__left ul {
  margin-bottom: 20px;
}

.banner .banner__content__left ul li {
  font-size: 20px;

  padding: 10px 5px 10px 0;
}

.banner .banner__content__left ul li i {
  width: 35px;
  height: 35px;
  line-height: 35px;

  text-align: center;

  font-size: 24px;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: white;

  border-radius: 35px;

  margin-right: 10px;
}

.banner .banner__content__right {
  position: absolute;
  top: 70px;
  right: -140px;
}

/* SERVICE */
.service {
  background-image: url(./../img/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;

  margin-top: 50px;
}

.service__content__main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service__item {
  border-radius: 0.5rem;
  background: white;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 45px;

  border-image: 100 round;
  border: 3px solid transparent;

  margin: 15px;

  transform: translateY(0);

  transition: all 0.5s;
}

.service__item:hover {
  transform: translateY(-20px);
  border-image: url(../img/br.png) 1 round;
}

.service__item img {
  width: 215px;
}

.service__item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}

/* ABOUT */
.about {
  background-image: url(./../img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;

  padding-bottom: 85px;
}

.about .about__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: relative;
}

.about .about__content .about__content__left {
  width: 60%;

  position: absolute;
  top: 200px;
  left: -205px;
}

.about .about__content .about__content__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}

.about .about__content .about__content__right {
  width: 50%;
}

.about .about__content .about__content__right p {
  margin-bottom: 15px;
}

.about .about__content .about__content__right ul {
  margin-bottom: 30px;
}

.about .about__content .about__content__right ul li i {
  font-size: 24px;
  color: #f55f8d;

  margin-right: 10px;

  vertical-align: middle;
}

/* STATISTIC */
.statistic {
  background-image: url(./../img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}

.statistic .statistic__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.statistic .statistic__content i {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;

  font-size: 45px;
  color: white;

  width: 80px;
  height: 80px;
  line-height: 90px;

  display: inline-block;
  border-radius: 50%;

  margin-bottom: 15px;
}

.statistic .statistic__content h1,
.statistic .statistic__content span {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}

.statistic .statistic__content p {
  font-size: 18px;
  color: #262626;
}

/* FEATURES */
.features {
  background-image: url(./../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;
}

.features .features__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: relative;
}

.features__content .features__content__left {
  width: 50%;
}

.features__content
  .features__content__left
  .features__item
  .features__background {
  margin: 0 50px 30px 0;
  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.features__content
  .features__content__left
  .features__item
  .features__background::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}

.features__content
  .features__content__left
  .features__item:hover
  .features__background::after {
  opacity: 1;
}

.features__content .features__content__left .features__item.item__2 {
  transform: translateX(50px);
  transition: all 0.5s;
}

.features__content
  .features__content__left
  .features__item
  .features__item__text {
  margin-left: 25px;
}

.features__content
  .features__content__left
  .features__item
  .features__item__text {
  z-index: 1;
}

.features__content .features__content__left .features__item p {
  transition: all 1s;
}

.features__content .features__content__left .features__item:hover p {
  color: white;
}

.features__content .features__content__left .features__item i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 1s;
}

.features__content .features__content__left .features__item:hover i {
  color: white;
}

.features__content .features__content__left .features__item h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  z-index: 1;
  transition: all 1s;
}

.features__content .features__content__left .features__item:hover h3 {
  color: white;
}

.features__content .features__content__right {
  width: 57%;
  position: absolute;
  right: -83px;
}

.features__content .features__content__right img {
  max-width: 100%;
  animation: SlightlyRotate 5s infinite;
}

/* PORTFOLIO */
.portfolio {
  background-image: url(./../img/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.portfolio__main {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  gap: 35px;
}

.portfolio__item {
  position: relative;
  text-align: left;

  overflow: hidden;
}

.portfolio__item img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 10px;
}

.portfolio__item.portfolio__item__1 {
  grid-column: 1 / span 2;
}

.portfolio__item.portfolio__item__5 {
  grid-column: 1 / span 2;
}

.portfolio__item.portfolio__item__6 {
  grid-column: 3 / 4;
  grid-row: 2 / span 2;
}

.portfolio__item .portfolio__overlay {
  background-color: rgba(0, 0, 0, 0.4);

  border-radius: 10px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;

  transition: all 0.75s;
}

.portfolio__item::before {
  content: "";
  width: 50%;
  height: 100%;

  position: absolute;
  top: 0;
  left: -100%;

  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);

  transition: all 0.75s;

  opacity: 0;
}

.portfolio__item:hover::before {
  left: 125%;
  opacity: 1;
}

.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
}

.portfolio__item .portfolio__overlay .portfolio__overlay__icon i {
  position: absolute;
  top: 20px;
  right: 20px;

  font-size: 28px;
  color: white;

  width: 50px;
  height: 50px;
  line-height: 50px;

  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;

  transform: translate(20px, -20px);
  transition: all 0.75s;
}

.portfolio__item .portfolio__overlay .portfolio__overlay__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}

.portfolio__item .portfolio__overlay .portfolio__overlay__text h3 {
  font-size: 22px;
  font-weight: 800;
  color: white;
}

.portfolio__item .portfolio__overlay .portfolio__overlay__text p {
  color: white;
  opacity: 0.7;
}

.portfolio__item:hover .portfolio__overlay .portfolio__overlay__icon i {
  transform: translate(0);
}

.portfolio__item:hover .portfolio__overlay .portfolio__overlay__text {
  transform: translateY(0);
}

/* BLOG */
.blog {
  background-image: url(./../img/bg16.png);
  background-size: cover;
  background-position: top center;

  padding-bottom: 50px;
}

.blog .blog__content .blog__main {
  display: flex;
  justify-content: space-around;

  margin-top: 40px;
}

.blog .blog__content .blog__main .blog__item {
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;

  margin: 0px 15px;

  position: relative;
}

.blog .blog__content .blog__main .blog__item img {
  width: 100%;
  border-radius: 8px;
}

.blog .blog__content .blog__main .blog__item h4 {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;

  border-radius: 6px;

  padding: 10px 20px;

  font-size: 14px;
  color: white;

  position: absolute;
  top: 180px;
  left: 15px;
}

.blog .blog__content .blog__main .blog__item .blog__item__text {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.blog .blog__content .blog__main .blog__item .blog__item__text h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}

.blog .blog__content .blog__main .blog__item .blog__item__footer {
  display: flex;
  align-items: center;
  padding: 15px;

  font-weight: 400;
  font-size: 14px;

  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog .blog__content .blog__main .blog__item .blog__item__footer p {
  color: #f55f8d;
}

.blog .blog__content .blog__main .blog__item .blog__item__footer span {
  color: #636363;
}

.blog .blog__content .blog__main .blog__item .blog__item__footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: middle;
}

.blog
  .blog__content
  .blog__main
  .blog__item
  .blog__item__footer
  p:first-of-type {
  margin-right: 20px;
}

/* CONTACT */
footer {
  background-image: url(../img/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}

footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer .subscribe {
  background-color: white;

  border-radius: 10px;

  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;

  position: relative;
}

footer .subscribe__text {
  padding: 50px 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .subscribe__text p {
  font-size: 28px;
  font-weight: 700;
  color: #262626;
}

footer .subscribe__text .subscribe__form {
  width: 50%;
}

footer .subscribe__text .subscribe__form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}

footer .subscribe__text .subscribe__form input {
  width: 100%;
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;

  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid white;
  outline: none;

  transition: all 0.5s;
}

footer .subscribe__text .subscribe__form input:hover,
footer .subscribe__text .subscribe__form input:focus {
  border: 1px solid #f55f8d;
}

footer .subscribe__text .subscribe__form button {
  padding: 20px 35px;

  color: white;
  font-size: 20px;

  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;

  transition: all 0.5s;

  border-radius: 0 0.5rem 0.5rem 0;

  cursor: pointer;

  /* transform: translateX(224px); */
}

footer .subscribe__text .subscribe__form button:hover {
  background-position: right center;
}

footer .subscribe__text .subscribe__form button:hover i {
  animation: LeftToRight 0.5s forwards;
}

footer .footer__main {
  display: flex;
  padding: 70px 0;
  position: relative;
}

footer .footer__main .footer__item {
  width: 25%;
}

footer .footer__main .footer__item .footer__contact li {
  color: white;
  padding: 8px 0;

  display: flex;
  align-items: center;
}

footer .footer__main .footer__item .footer__contact li i {
  height: 40px;
  width: 40px;
  line-height: 40px;

  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
}

footer .footer__main .footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  color: white;

  padding-bottom: 10px;

  margin-bottom: 30px;

  position: relative;
}

footer .footer__main .footer__item h3::before,
footer .footer__main .footer__item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}

footer .footer__main .footer__item h3::before {
  width: 15px;
}

footer .footer__main .footer__item h3::after {
  width: 45px;
  left: 20px;
}

footer .footer__main .footer__item ul li a {
  text-decoration: none;
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}

footer .footer__main .footer__item ul li {
  padding: 0.5rem 0;
}

footer .footer__main .footer__item ul li a:hover {
  color: white;
}

footer .footer__main .footer__item ul li a i {
  font-weight: 700;
  margin-right: 10px;
}

.footer__bottom {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}

.footer__bottom .footer__bottom__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__bottom .footer__bottom__content .footer__copyright span {
  color: #f55f8d;
}

.footer__bottom .footer__bottom__content .footer__social a {
  height: 32px;
  width: 32px;
  line-height: 32px;

  text-align: center;
  display: inline-block;
  border-radius: 50px;

  font-size: 14px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}

.footer__bottom .footer__bottom__content .footer__social a:hover {
  background-color: #f55f8d;
}

/* BACK TO TOP */
.BackToTop {
  width: 50px;
  height: 50px;
  line-height: 50px;

  background: #f55f8d;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  border-radius: 8px;

  text-align: center;

  position: fixed;
  right: 15px;
  bottom: 15px;

  color: white;
  transition: all 0.2s;

  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
